* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin-top: -15px;
  overflow: hidden;
}
.background {
  width: 100%;
  height: 1004px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  margin-top: 0%;
  left: 0px;
  overflow: hidden;
}
.fork {
  width: 19px;
  height: 23px;
  opacity: 0.3;
  position: absolute;
  top: 533px;
  left: 787px;
}
.name {
  color: #fff;
}
.star {
  width: 25px;
  height: 23px;
  opacity: 0.5;
  position: absolute;
  top: 529px;
  left: 597px;
}
.footer-red {
  width: 100%;
  height: 20px;
  background: rgba(228,76,39,1);
  opacity: 1;
  position: absolute;
  top: 675px;
  left: 0px;
  overflow: hidden;
}
.text1 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 88px;
  left: 94px;
  font-family: sans-serif;
  font-weight: 10;
  font-size: 63px;
  opacity: 1;
  text-align: left;
}
.text2 {
  width: 100%;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 300px;
  left: 94px;
  font-family: "mona sans", sans-serif;
  font-weight: lighter;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.contributions-text {
  width: 412px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 584px;
  left: 155px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.c-value {
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 528px;
  left: 155px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 31px;
  opacity: 1;
  text-align: left;
}
.i-value {
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 448px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 31px;
  opacity: 1;
  text-align: left;
}
.start-v {
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 525px;
  left: 648px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 31px;
  opacity: 1;
  text-align: left;
}
.fork-v{
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 832px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 31px;
  opacity: 1;
  text-align: left;
}
.issues-t {
  width: 412px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 584px;
  left: 448px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.star-t {
  width: 412px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 584px;
  left: 648px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.fork-t {
  width: 412px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 584px;
  left: 832px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.contributions {
  width: 38px;
  height: 28px;
  font-family: sans-serif;
  font-weight: 100;
  opacity: 0.5;
  position: absolute;
  top: 533px;
  left: 82px;
}
.issues {
  width: 29px;
  height: 30px;
  opacity: 0.5;
  position: absolute;
  top: 529px;
  left: 383px;
}
.profile {
  width: 220px;
  height: 230px;
  background: url("../images/profile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 1188px;
  border-radius: 482px;
  overflow: hidden;
}
.git-logo {
  width: 60px;
  height: 60px;
  background: url("../images/github-mark.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 540px;
  left: 1280px;
  border-radius: 482px;
  overflow: hidden;
}
